
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Gothic, sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #05386B, #5CDB95);
}
.calculadora-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculadora-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}
.calculadora-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.botao-maior {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .operador-anter {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}
.output .operador-atual {
    color: white;
    font-size: 2.5rem;
}
.voltarmenu {
    padding-left: 0;
    padding-right: 0;
    margin: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #C0C0C0;
    font-size: 28px;
    font-weight: bold;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 42px;
    border: 2px solid red transparent;
    box-shadow: 0 -5px 4px #FFF, 0 -5px 20px #3500D3, 0 -5px 40px #05386B;
    width: 25%;
    outline: none;
    cursor: pointer;
}
.voltarmenu:hover {
    z-index: 10;
    opacity: 0.9;
    transform: scale(1.1);
    transition: 0.15s ease-in-out;
    box-shadow: 0px 0px 3px 3px white;
}